<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p><strong>Email:</strong> <%= @order.email %></p>
    <p><strong>Total Amount:</strong> <%= number_to_currency(@order.total_cents / 100, precision: 2) %></p>
  </div>


  <div class="card p-3">
    <h4>Order Details</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'orders/line_item', line_item: line_item %>
        <% end %>
      </tbody>
    </table>
  </div>

  

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
